var filters = {
    toTenThousand: function (value) {
        if (!value) return value;
        return (value / 10000).toFixed(2) + '万';
    },
    toFixedThree: function (value) {
        if (!value) return value;
        return (+value).toFixed(2);
    }
}

module.exports = {
    toTenThousand: filters.toTenThousand,
    toFixedThree: filters.toFixedThree
}